@import url("https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css");

a[href*="//"]:not([href*="spine3.org"]){
position: relative;
margin: 0 8px 0 0;
}

a[href*="//"]:not([href*="spine3.org"]):after{
content:"\025F9"; 
vertical-align: super; 
font-size: smaller; 
text-decoration: none;
position: absolute;
right: -8px;
top: -5px;
   }
